body {
    text-align: center;
        background-color: rgb(237 126 61 / 50%);
}

.one {
    font-size: xxx-large;
}

.two {
    font-size: xxx-large;
}

div {
    text-align: end;
    font-size: x-large;
}

.three {
    font-size: xx-large;
}
