body {
    text-align: center;
}

.one {
    font-size: xxx-large;
}

.two {
    font-size: xxx-large;
}

div {
    text-align: end;
    font-size: x-large;
}

.three {
    font-size: xx-large;
}